# Example template for the actual .env

# Airflow
AIRFLOW_UID=501   # Run: id -u  on your Mac to confirm

# AWS S3
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=ap-southeast-2
S3_BUCKET_NAME=books-pipeline-data

# Snowflake
SNOWFLAKE_ACCOUNT=ZYMISQY-OP81737
SNOWFLAKE_USER=BOOKS_PIPELINE_USER
SNOWFLAKE_PASSWORD=...
SNOWFLAKE_ROLE=SYSADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=BOOKS_WAREHOUSE